<div class="mt-4">
    <div class="formnhap" >
        <div class="form-row">
                <div class="col">
                    <label for="email" >Nhập email</label>
                    <input type="email" class="form-control" value="{{teachers.email}}" id="email" name="email" style="width: 500px;">
                </div>
                <div class="col">
                    <label for="hoTen" class="form-label">Họ và tên</label>
                    <input type="text" class="form-control" value="{{teachers.hoTen}}" id="hoTen"name="hoTen" style="width: 500px;">
                </div>
                <div class="col">
                    <label for="gioiTinh" class="form-label">Giới tính</label>
                    <input type="text" class="form-control" value="{{teachers.gioiTinh}}" id="gioiTinh"name="gioiTinh" style="width: 500px;">
                </div>
                <div class="col">
                    <label for="lop" class="form-label">Lớp</label>
                    <input type="text" class="form-control" value="{{teachers.lop}}" id="lop"name="lop" style="width: 500px;">
                </div>
                <div class="col">
                    <label for="img" class="form-label">Image</label>
                    <input type="text" class="form-control" value="{{teachers.img}}" id="img"name="img" style="width: 500px;">
                </div>
                <div class="col">
                    <label for="description" class="form-label">Mô tả</label>
                    <input type="text" class="form-control" value="{{teachers.description}}" id="description"name="description" style="width: 500px;">
                </div>
                <div class="col">
                    <label for="tinhtrang" class="form-label">Tình trạng</label>
                    <input type="text" class="form-control" value="{{teachers.tinhTrang}}" id="tinhTrang" name="tinhTrang" style="width: 500px;">
                </div>
                <div class="col">
                    <label for="soLuongKhoaHoc" class="form-label">Số lượng khóa học</label>
                    <input type="text" class="form-control" id="soLuongKhoaHoc" value="{{teachers.soLuongKhoaHoc}}" name="soLuongKhoaHoc" style="width: 500px;">
                </div>

            </div>
            <div class="sua" style="text-align: center;">
                <button type="submit" onclick="update()" class="btn btn-outline-success" style="width: 1400px; margin-top: 50px;">Sửa</button>
            </div>
        
    </div>

</div>

<script>
    function update(){
        var email = $('#email').val();
        var hoTen = $('#hoTen').val();
        var sex = $('#gioiTinh').val();
        var classes = $('#lop').val();
        var image =$('#img').val();
        var moTa = $('#description').val();
        var trangThai = $('#tinhTrang').val();
        var quantity = $('#soLuongKhoaHoc').val();
        if(email.trim() === ''||hoTen.trim() === ''|| sex.trim() === ''||classes.trim() === ''||image.trim() === ''||moTa.trim() === ''||trangThai.trim() === ''||quantity.trim() === '')
        {
            alert('Điền đầy đủ thông tin không được để rỗng ');

            return;
        }
        $.ajax({
            url : '/editteachers/'+email,
                type: 'PUT',
                data:{
                    email:email,
                    hoTen:hoTen,
                    gioiTinh:sex,
                    lop:classes,
                    img:image,
                    description:moTa,
                    tinhTrang : trangThai,
                    soLuongKhoaHoc : quantity
                }
        })
        .then(data =>{
            if(data.code === 200){
                alert('Cập nhật GV: '+hoTen+' thành công!!!')
                window.location.href = '/editteachers' 
            }
            else if(data.code === 501){
                alert('Trùng email')
            }
            else{
                alert('Lỗi hệ Thống')
            }
            
        })
        .catch(error =>{
            alert('Thất bại')
        })
    }
</script>