<div class="mt-4">
    <div method="post" action="/editteachers/{{teachers.email}}?_method=PUT" class="formnhap" >
        <div class="form-row">
                <div class="col">
                    <label for="id" >Nhập email</label>
                    <input type="email" class="form-control" value="{{teachers.email}}" id="email" name="email" style="width: 500px;">
                </div>
                <div class="col">
                    <label for="hoTen" class="form-label">Họ và tên</label>
                    <input type="text" class="form-control" value="{{teachers.hoTen}}" id="hoTen"name="hoTen" style="width: 500px;">
                </div>
                <div class="col">
                    <label for="gioiTinh" class="form-label">Giới tính</label>
                    <input type="text" class="form-control" value="{{teachers.gioiTinh}}" id="gioiTinh"name="gioiTinh" style="width: 500px;">
                </div>
                <div class="col">
                    <label for="lop" class="form-label">Lớp</label>
                    <input type="text" class="form-control" value="{{teachers.lop}}" id="lop"name="lop" style="width: 500px;">
                </div>
                <div class="col">
                    <label for="img" class="form-label">Image</label>
                    <input type="text" class="form-control" value="{{teachers.img}}" id="img"name="img" style="width: 500px;">
                </div>
                <div class="col">
                    <label for="description" class="form-label">Mô tả</label>
                    <input type="text" class="form-control" value="{{teachers.description}}" id="description"name="description" style="width: 500px;">
                </div>
                <div class="col">
                    <label for="tinhtrang" class="form-label">Tình trạng</label>
                    <input type="text" class="form-control" value="{{teachers.tinhTrang}}" id="tinhTrang" name="tinhTrang" style="width: 500px;">
                </div>
                <div class="col">
                    <label for="soLuongKhoaHoc" class="form-label">Số lượng khóa học</label>
                    <input type="text" class="form-control" id="soLuongKhoaHoc" value="{{teachers.soLuongKhoaHoc}}" name="soLuongKhoaHoc" style="width: 500px;">
                </div>

            </div>
            <div class="sua" style="text-align: center;">
                <button type="submit" class="btn btn-outline-success" style="width: 1400px; margin-top: 50px;">Sửa</button>
            </div>
        
    </div>

</div>