
<div class="mt-4">
    <form method="post" action="/editcourse/{{sales.item}}?_method=PUT" class="form-write" >
        <div class="form-row" style=" margin-left: 200px;" >
                <div class="col">
                    <label for="item" >Nhập tên khóa học</label>
                    <input type="text" class="form-control" value="{{sales.item}}" id="item" name="item" style="width: 500px;">
                </div>
                <div class="col">
                    <label for="price" class="form-label">Nhập giá</label>
                    <input type="text" class="form-control" value="{{sales.price}}" id="price"name="price" style="width: 500px;">
                </div>
                <div class="col">
                    <label for="img" class="form-label">Nhập hình</label>
                    <input type="text" class="form-control" value="{{sales.img}}" id="img"name="img" style="width: 500px;">
                </div>
                <div class="col">
                    <label for="soGio" class="form-label">Nhập số giờ học </label>
                    <input type="text" class="form-control" value="{{sales.soGio}}" id="soGio"name="soGio" style="width: 500px;">
                </div>
                <div class="col">
                    <label for="soLuongVideo" class="form-label">Nhập số lượng video</label>
                    <input type="text" class="form-control" value="{{sales.soLuongVideo}}" id="soLuongVideo"name="soLuongVideo" style="width: 500px;">
                </div>
                <div class="col">
                    <label for="trinhDo" class="form-label">Nhập trình độ</label>
                    <input type="text" class="form-control" value="{{sales.trinhDo}}" id="trinhDo"name="trinhDo" style="width: 500px;">
                </div>
                <div class="col">
                    <label for="idVideo" class="form-label">Nhập video</label>
                    <input type="text" class="form-control" value="{{sales.idVideo}}" id="idVideo"name="idVideo" style="width: 500px;">
                </div>
                <div class="col">
                    <label for="title" class="form-label">Nhập title</label>
                    <input type="text" class="form-control" value="{{sales.title}}" id="title"name="title" style="width: 500px;">
                </div>
                <div class="col">
                    <label for="tenGV" class="form-label">Nhập tên giáo viên</label>
                    <select class="form-control" id="" name="hoTen"  style="width: 500px;">
                            <option>{{sales.teacher.hoTen}}</option>
                            {{#each teachers}}
                                <option class="ho">{{this.hoTen}}</option>
                            {{/each}}
                    </select>
                </div>
        </div>
            <div class="sua" style="text-align: center;">
                <button type="submit" class="btn btn-outline-success" style="width: 1400px; margin-top: 50px;">Sửa</button>
            </div>
        
    </form>

</div>
